<!--Passing data into Flask apps with forms-->

<h1>URL Abridge</h1>

<!--Heads-up users with a notification-->

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<form action="your-url" method="post">
  <label for="url">Website URL</label>
  <input type="url" name="url" value="" required />
  <br />
  <label for="code">Abridge Name</label>
  <input type="text" name="code" value="" requeried />
  <br />
  <input type="submit" value="Abridge" />
</form>

<!--tranfers or Uploads Files-->

<form action="your-url" method="post" enctype="multipart/form-data">
  <label for="file">File</label>
  <input type="file" name="file" value="" required />
  <br />
  <label for="code">Short Name</label>
  <input type="text" name="code" value="" required />
  <br />
  <input type="submit" value="Abridge" />
</form>

{% if codes %}
<h2>Codes you have created</h2>
<ul>
  {% for code in codes %}
  <a href="{{url_for("redirect_to_url", code=code)}}">
  <li>{{ code }}</li>
  </a>
  {%endfor%}
</ul>

{% endif %}
